.device_attribute {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}

.device_attribute .device_attribute_icon {
    color: var(--on-surface);
    height: 30px;
    width: 30px;
}

.state_container {
    width: 80%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.device_attribute_button {
    height: 40px;
    width: 80px;
}

@media screen and (max-width: 480px) {
    .device_attribute_button {
        height: 40px;
        width: 40px;
    }

    .state_container {
        flex-wrap: wrap;
        row-gap: 10px;
    }
}