# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
# .env
.env.development.local
.env.test.local
.env.production.local
.env.local


# Next.js build output
.next
out


# mqtt server
emqx-5.1.1-windows-amd64/*

# backend build
/backend/build/*

# random stuff
acdatadecode/*
decoder.py
encode.py
ir code decoded.xlsx
log.txt
test.py
text.txt
backend/data/**/*.json


*.log
*.xlsx
*\.vscode
*.crt
*.key
*/build/*
deployment/**/*.js
deployment/**/*.json
deployment/**/*.env
old/*