@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
  height: 0;
  width: 0;
}

* {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
input {
  all: unset
}