.container {
    width: 60%;
    height: 80%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    background: var(--surface);
    overflow-y: scroll;
}

.title_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.title_container .attribute_icon {
    color: var(--on-surface);
    height: 25px;
    width: 25px;
}

.title_container .attribute_icon:hover {
    cursor: pointer;
}

.task_name[contenteditable] {
    outline: 0px solid transparent;
}

.task_name {
    position: relative;
    color: var(--on-surface);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.task_name_editable::after {
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: var(--on-surface) 1px solid;
}

.task_attributes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 15px;
}

.attribute_title_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.attribute_title_container .attribute_icon {
    color: var(--on-surface);
    height: 30px;
    width: 30px;
}

.attribute_title_container .attribute_icon:hover {
    cursor: pointer;
}

.attribute_name {
    color: var(--on-surface);
}

.attribute {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: center;
}

.attribute .attribute_icon {
    color: var(--on-surface);
    height: 30px;
    width: 30px;
}

.attribute p {
    color: var(--on-surface);
}

/* .var_check */

.var_check {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.var_check_attributes {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: center;
}

.var_check_options {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.var_check_options .attribute_icon {
    color: var(--on-surface);
    height: 25px;
    width: 25px;
}

.var_check_options .attribute_icon:hover {
    cursor: pointer;
}

.var_check p {
    color: var(--on-surface);
}

/* timeChack */


.time_check {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.time_check_attributes {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: center;
}

.time_check_options {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.time_check_options .attribute_icon {
    color: var(--on-surface);
    height: 25px;
    width: 25px;
}

.time_check_options .attribute_icon:hover {
    cursor: pointer;
}

.time_check p {
    color: var(--on-surface);
}

/* to-do */

.todo_check {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.todo_check_attributes {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: center;
}

.todo_check_options {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.todo_check_options .attribute_icon {
    color: var(--on-surface);
    height: 25px;
    width: 25px;
}

.todo_check_options .attribute_icon:hover {
    cursor: pointer;
}

.todo_check p {
    color: var(--on-surface);
}

.var_check_add_input {
    color: var(--on-surface);
    border: var(--on-surface) 1px solid;
}